<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review</title>
    <link rel="stylesheet" href="/static/review.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="trans-area">
                <h2 class="headings">Transaction Details</h2>
                <div id="t-details">
                    <h4>{{ this_trans.t_name }}</h4>
                    <h4>{{ this_trans.s_city }} - {{ this_trans.d_city }}</h4>
                    <h4>Date created: {{this_trans.delivery_date}}</h4>
                    <h4>Type: {{ this_trans.t_type }}</h4>
                </div>
                <form class="row amt g-3 p-2" action="/review/{{this_trans.id}}" method="post">
                    <div class="mb-3">
                        <label for="d_date" class="form-label">Expected Delivery Date:</label>
                        <input type="date" class="form-control" id="d_date" name="d_date">
                    </div>
                    <div class="mb-3">
                        <label for="amt" class="form-label">Add amount (INR):</label>
                        <input type="text" class="form-control" id="amt" name="amt">
                    </div>
                    <div id="create-btn">
                        <button type="submit" class="btn btn-primary mb-3">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>